{% extends 'base.html' %}
{% block title %}
<head>
<title>周报_第一周</title></head>
{% endblock %}
{% block content %}

    <div class="offset-md-1 col-md-8">

<h1>NLP 第一组</h1>
<p>成员: 樊佳亮 李嘉铖，肖济民，高杨，宋夏昕，秦梓恒</p>
<p>&nbsp;</p>
<h2>需求分析讨论，明确任务需求</h2>
<p>在分好组后，我们对实训题目进行了详细的讨论，和学长也进行了深入的交流，确定了所需要实现的功能,基本如下：</p>
<ul>
<li><p>需要搭建一个web平台来支持用户在不同平台上的操作</p>
</li>
<li><p>对用户的输入信息进行了初步的确认，用户可以输入一个或者多个关键词，或者是输入一句问答类型的语句，</p>
<p>传递到后端通过不同的分词器对输入的语句进行分类，采用不同分词器分好的词库进行比对，对得到的结果进行排序，选择最好的分词结果返回到前台，呈现给用户。当然也可以返回各种分词器的结果。</p>
</li>
<li><p>在分词的基础上，进一步提示分词的准确率，采用word2vec对模型进行训练。通过对输入的关键性的相似度匹配，找到最有可能的语句。</p>
</li>
<li><p>在关键词的提取上，选取一些机器学习相关的算法，在语句分割好的多个关键字中，找到最符合匹配的一个。</p>
</li>
<li><p>其他需求在开发中再补充。</p>
</li>

</ul>
<p>&nbsp;</p>
<h2>任务分工，正式编码 </h2>
<h3>分工</h3>
<p>在基本确定需求后，开始了任务的分配，根据不同人员的不同特长，分配不同的工作。</p>
<p>有的组员在方向课中接触过分词器和NLP相关的知识，负责分词器的准备和语料的搜索。</p>
<p>有的组员，做过web方面的项目，于是负责前端后台的编写，数据库的设计。</p>
<p>有的组员对算法方面比较了解，于是负责算法方面的思路和设计。</p>
<p>&nbsp;</p>
<h3>技术统一</h3>
<p>经过初步的讨论，确定了初步采用的技术</p>
<h4>分词器</h4>
<ul>
<li>Ansj</li>
<li>HanLP</li>
<li>Jcseg</li>
<li>Stanford</li>
<li>Jieba</li>
<li>MMSeg4j</li>
<li>ICTLS</li>
<li>Word分詞</li>

</ul>
<h4>数据库</h4>
<p>mysql</p>
<h5>web技术</h5>
<p>flask框架和bootstrap前端显示+jquery+ajax</p>
<h4>编程语言</h4>
<p>java,python</p>
<h3>编码</h3>
<p>第一周我们暂时定了一个小目标</p>
<ul>
<li>完成web平台的搭建工作</li>
<li>完成不同分词器的结果输出。</li>
<li>确定数据格式类型，设计数据库模型</li>
<li>对关键词向量，进行相似度计算，完成通过相似度来比对的第一个版本</li>
<li>将他们整合起来，做出第一个小版本。</li>

</ul>
<h3>文档编写</h3>
<p>对项目要求的文档进行详细的讨论，在项目开始的初期需要编写的文档有</p>
<ul>
<li>需求分析说明书</li>
<li>概要设计报告</li>

</ul>
<p>对人员进行了任务的分工，初步完成了这两个文档的编写。</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

 </div>
{% endblock %}